127.0.0.1   {{ ansible_hostname }} localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

#
# cluster global hosts names setup
#

# Management nodes
10.100.100.1   headnode

# Computing nodes
10.100.101.1    node1
10.100.101.2    node2
10.100.101.3    node3

